SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin
# Order of crontab fields
# minute	hour	mday	month	wday	command
*/1	*	*	*	*	/home/ismatim/startup/freebsd/scripts/set-background.sh

